@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
}

.quicksand-200 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.quicksand-500 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.quicksand-700 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.fontSize-small {
  font-size: 16px;
}

.fontSize-medium {
  font-size: 30px !important;
}

.fontSize-larger {
  font-size: 80px;
}

.mb-16 {
  margin-bottom: 16px;
}

.text-center {
  text-align: center;
}
